@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap|Exo:100,200,300,400,500,600,700');

header {
    margin: 0;
}

.logo {
    background: url(../css/images/artwork.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    opacity: 86%;

}


body {
    font-family: ;
}